<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='{% static "css/navbar.css" %}'>
  <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
  {% block extrahead %}{% endblock %}
  <title></title>
</head>
<body>
  <header class="nav__bar">
    <!-- <a href="{% static 'homepage.html' %}"> -->
    <a href="{% url 'home' %}">
      <div class="nav__bar--title">
          <img src="{% static 'img/logo.png' %}">
          <h1 class="homepage_name">이음</h1>
          <h2 class="homepage_name_en">EEEM</h2>
      </div>
    </a>
    <style type="text/css">
      a:link { color: black; text-decoration: none;}
      a:visited { color: black; text-decoration: none;}
      a:hover { color: black; text-decoration: none;}
     </style>
     

    <!-- </a> -->
    <nav role="navigation" class="primary-navigation">
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#">Go to &dtrif;</a>
        <ul class="dropdown">
            <li><a href="#">community</a></li>
            <li><a href="#">manner</a></li>
            <li><a href="#">trend</a></li>
            <li><a href="#">game</a></li>
        </ul>
        </li>
        <li><a href="#">About &dtrif;</a>
            <ul class="dropdown">
                <li><a href="#">introduction</a></li>
                <li><a href="#">Q & A</a></li>
                <!-- <li><a href="#">trend</a></li>
                <li><a href="#">game</a></li> -->
            </ul></li>
        <li><a href="#">Contact</a></li>
    </ul>
    </nav>
</header>
</body>
</html>