body {
  background-color: rgb(242, 240, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding-top: 100px;
  font-size: 30px;
  color: #88aed0;
}

input {
  height: 20px;
  border: 1px black solid;
}

label {
  margin-bottom: 10px;
}

.box {
  margin-bottom: 30px;
}

.box label {
  font-size: 20px;
  color: #88aed0;
}

.hashtag input {
  width: 135px;
}

.submitButton {
  position: relative;
  left: 70px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  background-color: #88aed0;
  color: whitesmoke;
  border: none;
  cursor: pointer;
}
