@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");
.titleBox {
  font-size: 37px;
  padding-top: 70px;
  margin-left: 100px;
  color: #298adf;
}

.line {
  padding-top: 12px;
  float: right;
  border-bottom: 1px solid rgb(47, 104, 155);
  width: 95%;
}

input {
  height: 37px;
  border: 1px #2978bd solid;
}

label {
  margin-bottom: 10px;
}

.box {
  margin-bottom: 30px;
}

.box label {
  font-size: 20px;
  color: #88aed0;
}

.submitButton {
  position: relative;
  left: 70px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  background-color: #88aed0;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}
