/* .mt-100 {
    margin-top: 60px
} */

.mb-100 {
  margin-bottom: 60px;
}

.main-container {
  width: 800px;
  margin: 0 auto;
  padding-top: 60px;
}

.communityDetail {
  background-color: rgba(136, 174, 208, 0.158);
  padding: 30px 30px 30px 30px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 400px;
}

.userinfo {
  position: relative;
  left: 70px;
  top: -45px;
}

.title {
  position: relative;
  font-size: 16px;
  left: 70px;
  top: -45px;
}

.date {
  float: right;
  font-size: 14px;
  color: #999;
}

.text {
  font-size: 16px;
}

.commentdate {
  float: right;
  font-size: 12px;
  color: #999;
}

.chat-box {
  padding-top: 80px;
  padding-bottom: 80px;
}

#inputText {
  background-color: transparent;
  width: 690px;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
  outline: none;
  font-size: 16px;
}

#inputSubmit {
  background-color: transparent;
  width: 90px;
  height: 56px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
}

.card-white .h5 {
  font-size: 14px;
  position: relative;
  top: -30px;
  left: 50px;
}
.card-white .time {
  font-size: 12px;
  float: right;
}

.post .post-heading .meta .title {
  margin-bottom: 0;
}

.post .post-description {
  word-break: break-all;
  line-height: 25px;
  padding-bottom: 10px;
}
.post .post-description p {
  font-size: 16px;
}

.comment {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 800px;
  margin-bottom: 100px;
}

.like-dislike {
  padding-bottom: 40px;
}
