/* .mt-100 {
    margin-top: 60px
} */

.mb-100 {
  margin-bottom: 60px;
}

.main-container {
  width: 800px;
  margin: 0 auto;
  padding-top: 90px;
}

.communityDetail {
  background-color: rgba(136, 174, 208, 0.158);
  padding: 30px 30px 30px 30px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 400px;
}

.userinfo {
  position: relative;
  left: 70px;
  top: -45px;
}

.title {
  position: relative;
  font-size: 16px;
  left: 70px;
  top: -45px;
}

.date {
  float: right;
  font-size: 14px;
  color: #999;
}

.text {
  font-size: 16px;
}

.commentdate {
  float: right;
  font-size: 12px;
  color: #999;
}

.chat-box {
  padding-top: 80px;
  padding-bottom: 80px;
}

#inputText {
  background-color: transparent;
  width: 690px;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
  outline: none;
  font-size: 16px;
}

#inputSubmit {
  background-color: transparent;
  width: 90px;
  height: 56px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
}

.card-white .h5 {
  font-size: 14px;
  position: relative;
  top: -30px;
  left: 50px;
}
.card-white .time {
  font-size: 12px;
  float: right;
}

.post .post-heading .meta .title {
  margin-bottom: 0;
}

.post .post-description {
  word-break: break-all;
  line-height: 25px;
  padding-bottom: 10px;
}
.post .post-description p {
  font-size: 16px;
}

.comment {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 800px;
  margin-bottom: 100px;
}

.like-dislike {
  padding-bottom: 40px;
}

.switch {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 150px;
  height: 50px;
  text-align: center;
  margin: -30px 0 0 -75px;
  background: #00bc9c;
  transition: all 0.2s ease;
  border-radius: 25px;
}
.switch span {
  position: absolute;
  width: 20px;
  height: 4px;
  top: 50%;
  left: 50%;
  margin: -2px 0px 0px -4px;
  background: #fff;
  display: block;
  transform: rotate(-45deg);
  transition: all 0.2s ease;
}
.switch span:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 12px;
  margin-top: -8px;
  background: #fff;
  transition: all 0.2s ease;
}
input[type="radio"] {
  display: none;
}
.switch label {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
  width: 60px;
  line-height: 50px;
  transition: all 0.2s ease;
}
label[for="yes"] {
  position: absolute;
  left: 0px;
  height: 20px;
}
label[for="no"] {
  position: absolute;
  right: 0px;
}
#no:checked ~ .switch {
  background: #eb4f37;
}
#no:checked ~ .switch span {
  background: #fff;
  margin-left: -8px;
}
#no:checked ~ .switch span:after {
  background: #fff;
  height: 20px;
  margin-top: -8px;
  margin-left: 8px;
}
#yes:checked ~ .switch label[for="yes"] {
  color: #fff;
}
#no:checked ~ .switch label[for="no"] {
  color: #fff;
}

#commentModal {
  height: 250px;
  text-align: center;
  line-height: 200%;
  padding-top: 50px;
  font-family: "Noto Sans KR", sans-serif;
}
