body {
  background-color: rgb(242, 240, 248);
}

.main {
  background-color: rgb(242, 240, 248);
  height: 500vh;
  transition: transform 0.5s;
}

.firstPage {
  height: 1000px;
  padding-top: 80px;
  padding-left: 60px;
}

.firstPage span:first-child {
  display: block;
  margin-bottom: 20px;
  font-size: 130px;
  color: #88aed0;
}

.firstPage span:last-child {
  font-size: 180px;
  color: #88aed0;
}

.mainPage {
  height: 1000px;
}

.arrow {
  position: fixed;
  bottom: 70px;
  right: 170px;
  animation: updown 2s ease-in-out infinite;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.gotoContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.gotoContent button {
  padding: 0px 15px;
  color: #88aed0;
  font-size: 13px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
}
