body {
  height: 400vh;
}

.mainContent {
  padding-top: 60px;
  padding-left: 60px;
}

.mainContent span:first-child {
  font-size: 130px;
  color: #88AED0;
}

.mainContent span:last-child {
  font-size: 180px;
  color: #88AED0;
}

.arrow {
  position: absolute;
  bottom: 70px;
  right: 170px;
}

.gotoContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.gotoContent a {
  padding: 0px 15px;
  color: #88AED0;
  opacity: 0.7;
  font-size: 13px;
}

