.main__content {
  display: flex;
  flex-wrap: wrap;
}

.main__content--box {
  width: 50%;
  height: 47vh;
}

.main__content--box:first-child {
  background-color: red;
}

.main__content--box:nth-child(2) {
  background-color: blue;
}

.main__content--box:nth-child(3) {
  background-color: green;
}

.main__content--box:last-child {
  background-color: orange;
}
