.main__screen {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manner__box {
  padding: 20px 10px;
  width: 500px;
  height: auto;
  border: 3px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.manner__hashtag {
  display: flex;
  margin-top: 10px;
}

.manner__hashtag--detail {
  width: auto;
  height: auto;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  margin-right: 5px;
  padding: 2px;
}

.mannerthumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: auto;
  border: 1px solid rgb(240, 212, 245);
  border-radius: 5px;
  background-color: rgb(240, 212, 245);
  padding: 10px 0px;
  margin: 0px 5px;
  cursor: pointer;
  margin-left: 30px;
  color: black;
}

.mannerthumbs i {
  margin-right: 6px;
}

.mannerthumbs i:last-child {
  margin-left: 10px;
}

.search {
  position: absolute;
  top: 90px;
  right: 100px;
}

.search__box {
  width: 110px;
  height: 30px;
  border: 1px solid white;
  border-radius: 10px;
  margin-right: 5px;
}

.search__box:focus {
  outline: none;
}

.find__btn {
  width: 70px;
  height: 35px;
  border: none;
  cursor: pointer;
  color: black;
  background-color: #f0d4f5;
  font-weight: bold;
  border-radius: 10px;
  font-size: 13px;
}

.writeText {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 90px;
  right: 20px;
  width: 70px;
  height: 35px;
  border: none;
  cursor: pointer;
  color: black;
  background-color: #f0d4f5;
  font-weight: bold;
  font-size: 13px;
  border-radius: 10px;
}

@media screen and (max-width: 700px) {
  .manner__box {
    width: 300px;
  }
  .mannerthumbs {
    width: 180px;
    font-size: 13px;
  }
  .search {
    position: static;
    margin-bottom: 30px;
  }
}

h4 {
  display: block;
  margin-bottom: 30px;
}
