@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");
img {
  height: 150px;
  width: 100%;
}

div [class^="col-"] {
  padding-left: 20px;
}
.productCard {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  transition: 0.5s;
  cursor: pointer;
  height: 370px;
  width: 280px;
  border-radius: 20px;
}
.productCard-title {
  font-size: 25px;
  font-weight: 5px;
  transition: 1s;
  cursor: pointer;
}
.productCard-title i {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
  color: #ffa710;
}
.productCard-title i:hover {
  transform: scale(1.25) rotate(100deg);
  color: #18d4ca;
}
.productCard:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.productCard-text {
  height: 100px;
}

.productCard::before,
.productCard::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;
}
.productCard::before {
  transform-origin: left top;
}
.productCard::after {
  transform-origin: right bottom;
}
.productCard:hover::before,
.productCard:hover::after,
.productCard:focus::before,
.productCard:focus::after {
  transform: scale3d(1, 1, 1);
}

.plusButton {
  float: right;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  display: inline-flex;
  width: 100px;
  height: 30px;
  perspective: 1000px;
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
  margin-top: 40px;
  margin-right: 30px;
}
.plusButton:before,
.plusButton:after {
  position: absolute;
  content: "글쓰기";
  height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(230, 118, 33);
  box-sizing: border-box;
  border-radius: 5px;
}
.plusButton:before {
  color: rgb(255, 220, 198);
  background: rgb(230, 118, 33);
  transform: rotateY(0deg) translateZ(25px);
}
.plusButton:after {
  color: rgb(230, 118, 33);
  transform: rotateX(90deg) translateZ(25px);
}
.plusButton:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

.search {
  position: absolute;
  top: 90px;
  right: 20px;
}

.search__box {
  width: 110px;
  height: 30px;
  border: 1px solid white;
  border-radius: 10px;
  margin-right: 5px;
}

.search__box:focus {
  outline: none;
}

.find__btn {
  width: 70px;
  height: 35px;
  border: none;
  cursor: pointer;
  color: black;
  background-color: #f0d4f5;
  font-weight: bold;
  border-radius: 10px;
}

.info {
  padding-top: 80px;
  display: block;
  font-size:20px;
  text-align: center;
  /* margin-bottom: 20px; */
}