@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
main {
  padding-top: 80px;
  font-family: Montserrat;
}

.titleFont {
  font-weight: bold;
  font-size: 60px;
  text-align: left;
  margin-left: 100px;
}

.gradient-border {
  --border-width: 1px;
  position: relative;
  border-radius: var(--border-width);
}
.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
    #7b94dad9,
    #89a8ffd7,
    #6d8fedd4,
    #7795e9e0,
    #7fdfe6e8,
    #9ee2caee,
    #afe0edec,
    #ccd8f8
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.like {
  --size: 80px;
  --frames: 62;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  border-radius: 999px;
  overflow: visible;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.hearth {
  background-image: url("https://assets.codepen.io/23500/Hashflag-AppleEvent.svg");
  background-size: calc(var(--size) * var(--frames)) var(--size);
  background-repeat: no-repeat;
  background-position-x: calc(var(--size) * (var(--frames) * -1 + 2));
  background-position-y: calc(var(--size) * 0.02);
  width: 100px;
  height: var(--size);
}
@media (hover: hover) {
  .like:hover {
    background-color: #e1255e 15;
  }
  .like:hover .hearth {
    background-position-x: calc(var(--size) * (var(--frames) * -1 + 1));
  }
}
