@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Gamja+Flower&family=Jua&display=swap');

main {
  padding-top: 120px;
  font-family: 'Jua', sans-serif;
}

.gameCard__side {
  margin: 0 auto;
  padding-top: 30px;
  height: 550px;
  width: 50%;
  position: absolute;
  background-size: cover !important;
  background-color: rgb(236, 199, 120);
  border-radius: 30px 30px 30px 30px;
  box-shadow: 5px 5px 9px #f26b11;
  grid-row: -1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 35px;
  font-weight: 550;
  cursor: pointer;
  display: block;
  line-height: 3em;
  min-width: 3em;
  text-align: center;
  left: 30%;
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.gameCard__side--front {
  background-color: rgb(236, 199, 120);
}
.gameCard__side--back {
  transform: rotateY(180deg);
  background-color: rgb(236, 199, 120);
}
.gameCard:hover .gameCard__side--front {
  transform: rotateY(-180deg);
}
.gameCard:hover .gameCard__side--back {
  transform: rotateY(0deg);
}


