@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");

.point {
  position: absolute;
  display: flex;
  top: 70px;
  right: 30px;
  font-size: 31px;
  font-family: "Noto Serif KR", serif;
}

.questionFont {
  padding: 70px 0 0 30px;
  font-size: 37px;
  font-family: "Noto Serif KR", serif;
  font-weight: 8px;
}

.newtermBox {
  border-style: double;
  border-color: black;
  border-width: 6px;
  margin: 30px 0 0 170px;
  padding: 50px 50px 50px 50px;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 130px;
  font-family: "Noto Serif KR", serif;
  font-weight: 5px;
}

.answerBox{
  float: center;
  margin-left: 170px;
  font-size: 35px;
  font-family: "Noto Serif KR", serif;
  font-weight: 8px;
}

.answer{
  font-size: 35px;
  font-family: "Noto Serif KR", serif;
  font-weight: 8px;
}
.answer:hover{
  font-size:38px;
  color: red;
}