@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");

main {
  padding-top: 50px;
}

.paper {
  margin-top: 10px;
  height: 495px;
  width: 900px;
  border-style: solid;
  background-color: #d8d7d7;
  border-style: double;
  border-color: rgb(36, 20, 3);
  border-width: 2px;
  position: absolute;
  left: 17%;
}

.point {
  position: absolute;
  display: flex;
  top: 25px;
  right: 30px;
  font-size: 36px;
  font-family: "Noto Serif KR", serif;
}

.questionFont {
  padding: 20px 0px 0px 20px;
  font-size: 30px;
  font-family: "Noto Serif KR", serif;
  font-weight: 12px;
}

.newtermBox {
  border-style: double;
  border-color: black;
  border-width: 6px;
  margin: 39px 0 0 100px;
  padding: 50px 50px 50px 50px;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 100px;
  font-family: "Noto Serif KR", serif;
  font-weight: 5px;
}

.answerBox {
  float: center;
  margin-left: 60px;
  font-size: 30px;
  font-family: "Noto Serif KR", serif;
  font-weight: 8px;
}

.answer {
  font-size: 30px;
  font-family: "Noto Serif KR", serif;
  font-weight: 8px;
}

.answer:hover {
  font-weight: 10px;
  font-size: 32px;
  color: red;
}
