@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");

.point {
  position: absolute;
  display: flex;
  top: 70px;
  right: 30px;
  font-size: 30px;
  font-family: "Noto Serif KR", serif;
}

.questionFont {
  padding: 70px 0 0 30px;
  font-size: 37px;
  font-family: "Noto Serif KR", serif;
  font-weight: 8px;
}

.newtermBox {
  border-style: double;
  border-color: black;
  border-width: 6px;
  margin: 50px 0 0 100px;
  padding: 50px 50px 50px 50px;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 130px;
  font-family: "Noto Serif KR", serif;
  font-weight: 5px;
}
