html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(242, 240, 248);
}

.main {
  background-color: rgb(242, 240, 248);
  height: 500vh;
  transition: transform 0.5s;
}

.firstPageTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 400px;
  padding-left: 100px;
}

.firstPage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1000px;
  padding-top: 80px;
  padding-left: 60px;
}

.firstPage span:first-child {
  display: block;
  margin-bottom: 20px;
  font-size: 130px;
  color: #88aed0;
}

.EEEM {
  font-size: 180px;
  color: #88aed0;
}

.firstPageImg {
  width: 400px;
  height: 400px;
  padding-bottom: 200px;
  padding-right: 200px;
}

.mainPage {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 1000px;
  transition: all 0.5s ease-in-out;
}

.manner {
  flex-direction: row-reverse;
}

.newterm {
  flex-direction: row-reverse;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  font-size: 30px;
}

.goto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: auto;
  height: 60px;
  background-color: skyblue;
  border-radius: 10px;
  padding: 0px 10px;
}

.goto span {
  color: whitesmoke;
}

.mainPage img {
  width: 500px;
  height: 500px;
}

.title {
  color: #88aed0;
  font-size: 80px;
  margin-bottom: 100px;
}

.arrow {
  position: fixed;
  bottom: 70px;
  right: 220px;
  animation: updown 2s ease-in-out infinite;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.gotoContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.gotoContent a {
  padding: 0px 15px;
  color: #88aed0;
  font-size: 18px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
}
