@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");

.point {
  position: absolute;
  display: flex;
  top: 80px;
  right: 50px;
  font-size: 47px;
  font-family: "Noto Serif KR", serif;
}

.questionFont {
  padding: 85px 0 0 100px;
  font-size: 37px;
  font-family: "Noto Serif KR", serif;
  font-weight: 8px;
}

.newtermBox {
  border-style: double;
  border-color: black;
  border-width: 6px;
  margin: 50px 0 0 220px;
  padding: 50px 50px 50px 50px;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 130px;
  font-family: "Noto Serif KR", serif;
  font-weight: 5px;
}

.answerBox {
  float: center;
  margin-left: 250px;
  font-size: 35px;
  font-family: "Noto Serif KR", serif;
  font-weight: 8px;
}

.answer {
  font-size: 35px;
  font-family: "Noto Serif KR", serif;
  font-weight: 8px;
}

.answer:hover {
  font-size: 38px;
  color: red;
}
