{% extends 'base.html' %}{% load static %}{% block extrahead %} {% endblock %}
{% block content %}

<head>
  <link rel="stylesheet" href='{% static "css/addProduct.css" %}' />
  <title>addProduct</title>
</head>

<body style="background-color: rgb(242, 240, 248)">
  <div class="titleBox">글쓰기</div>
  <div class="line"></div>
  <div style="margin-left: 100px">
    <form
      action="{% url 'productCreate' %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <div class="box" style="padding-top: 50px">
        <label for="productName">제목</label><br />
        <input
          type="text"
          name="productName"
          id="productName"
          style="width: 225px"
          required
        />
      </div>
      <div class="box">
        <label for="productText">내용</label><br />
        <textarea
          name="productText"
          id="productText"
          cols="30"
          rows="10"
          required
        ></textarea>
      </div>
      <input
        style="width: 225px; font-size: 15px; height: 100%"
        type="file"
        name="image"
      />
      <br /><br /><br />
      <button class="submitButton" type="submit">등록</button>
    </form>
  </div>
</body>

{% endblock %}
