{% extends 'base.html' %}{% load static %}{% block extrahead %}

{% endblock %} {% block content %}

<body class="body">
  <ol class="list-group list-group-numbered">
    {% for community in communities.all %}
    <a href="{%url 'communityDetail' community.id %}"><li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto" >
        <div class="fw-bold">{{community.text}}</div>
      </div>
      <span class="badge bg-primary rounded-pill">{{community.like}}</span>
    </li>
    </a>
    {% endfor %}
  </ol>
</body>
</html>

{% endblock %}
