{% extends 'base.html' %}{% load static %}{% block extrahead %}

{% endblock %} {% block content %}

<head>
  <link rel="stylesheet" href='{% static "css/communityDetail.css" %}'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/9452825322.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-container">
        <div class="communityDetail">
            <h6 class="date">
                {{community.date|date:'Y-m-d fa' }}
            </h6>
             <div class="userimg">
                <img src="https://i.imgur.com/Ur43esv.jpg" style="border-radius: 70%" alt="user" width="50px" class="rounded-circle">
             </div>
             <div class="userinfo">
                <h6 class="font-medium" style="margin-bottom: 9px;">{{community.user}}
                    {%if community.user.sex == 0%}
                    <span class="sex">남</span>
                    {%else%}
                    <span class="sex">여</span>
                    {%endif%}
                    {{community.user.age}}살
                </h6>
             </div>
             <div class="title">
                {{community.title}}
            </div>
             <div class="text">
                 {{community.text}}
             </div>
        </div>

        
        <div id="loginmodal" class="modal">
            <p>로그인 후 EEEM의 다양한 기능을 사용해보세요😃<br><br></p>
            <button class="tologinbtn" onclick="location.href='{% url 'login' %}'">로그인 하러 가기</button>
            <button class="tologinbtn" onclick="location.href='{% url 'signup' %}'">회원가입 하러 가기</button>
        </div>

        <div class="chat-box">
            {% if user.is_authenticated %}
                <form action="{% url 'addComment' community.id %}" method="POST">
                    {% csrf_token %}
                    <input id="inputText" name="commenttext" type="text" placeholder="댓글을 달아 의견을 공유해주세요!"/>
                    <input id="inputSubmit" type="submit" value="댓글 달기"/>
                </form>
            {% else %}
                <a href="#loginmodal" rel="modal:open">
                    <input id="inputText" name="commenttext" type="text" placeholder="댓글을 달아 의견을 공유해주세요!"/>
                    <button id="inputSubmit" type="submit" >댓글달기</button>
                </a>
            {% endif %}
        </div> 

        <div class="comment">            
            <div class="row">
                {% for comment in comments.all %}
                <div class="col-8" style="width: 750px;">
                    <div class="card card-white post">
                        <div class="post-heading">
                            <h6 class="commentdate">{{comment.date|date:'Y-m-d fa' }}</h6>
                            <div class="commentUserImage">
                                <img src="https://i.imgur.com/Ur43esv.jpg" style="border-radius: 70%" alt="user" width="38px" class="rounded-circle">
                            </div>
                            <div class="float-left meta">
                                <div class="title h5">
                                    <b>{{comment.user}}
                                    {{comment.user.sex}}
                                    {{comment.user.age}}살</b>
                                </div>
                            </div>
                        </div> 
                        <div class="post-description"> 
                            <p>{{comment.text}}</p>
                        </div>

                        <div class="like-dislike">
                            {% if user.is_authenticated %}
                            <a href="{% url 'communityCommentLikeUp' community.id  comment.id%}" class="like">
                                <img src="{%static 'img/thumbs-up.png'%}" width="20px" height="20px"/>
                                <span>&nbsp{{comment.like}}&nbsp&nbsp&nbsp&nbsp</span>
                            </a>
                            <a href="{% url 'communityCommentDisLikeUp' community.id comment.id %}" class="dislike">
                                <img src="{%static 'img/thumb-down.png'%}" width="20px" height="20px"/>
                                <span>&nbsp{{comment.dis_like}}</span>
                            </a>
                            {% else %}
                                <a href="#loginmodal" rel="modal:open" class="like">
                                    <img src="{%static 'img/thumbs-up.png'%}" width="20px" height="20px"/>
                                    <span>&nbsp{{comment.like}}&nbsp&nbsp&nbsp&nbsp</span>
                                </a>
                                <a href="#loginmodal" rel="modal:open" class="dislike">
                                    <img src="{%static 'img/thumb-down.png'%}" width="20px" height="20px"/>
                                    <span>&nbsp{{comment.dis_like}}</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>

          
    </div>
    
</body>
</html>
{% endblock %}