{% extends 'base.html' %}{% load static %}{% block extrahead %}
{% endblock %} {% block content %}

<head>
    <link rel="stylesheet" href='{% static "css/homepage.css" %}'>
    <link rel="stylesheet" href='{% static "css/reset.css" %}'>
    <title>homepage</title>
</head>
<body>
    <div class="main__content">
        <div class="main__content--box"></div>
        <div class="main__content--box"></div>
        <div class="main__content--box"></div>
        <div class="main__content--box"></div>
    </div>
</body>
</html>

{% endblock %}