{% extends 'base.html' %}{% load static %}{% block extrahead %}
{% endblock %} {% block content %}
<link rel="stylesheet" href='{% static "css/manner.css" %}'>
<body>
  <main class="main__screen">
    <div class="info">매너를 지켜쥬</div>
    <form method="get" class="search" action="{% url 'search' %}">
      <input type="search" class="search__box" placeholder="#해시태그 검색" name="kw">
      <!-- <input type="search" class="search__box" placeholder="#누구에게" name="kw2"> -->
      <button type="submit" class="find__btn">검색</button>
    </form>
    <a class="order" href="{% url 'mannerOrder' %}">좋아요순 정렬</a>
  
    {% if user.is_authenticated %}
    <a href="{%url 'addManner' %}" class="writeText">글쓰기</a>
    {% else %}
    <a href="#loginmodal" class="writeText" rel="modal:open">글쓰기</a>
    {% endif %}
    {% for m in manner.all %}
    <a class="manner__box" href="{%url 'mannersDetail' m.id %}">
      <div class="profile">
        <div class="manner__user">
          <img src="{{m.user.profile.url}}" alt="user" width="60px" class="rounded-circle">
            <div>{{m.user.sex}}, {{m.user.age}}대</div>
        </div>
        <div class="manner__main">
          <div class="manner__text">
            제목 : {{m.text}}
          </div>
          <div class="manner__hashtag">
            <div class="manner__hashtag--detail">누가:{{m.hashtag_me}}</div>
            <div class="manner__hashtag--detail">누구에게:{{m.hashtag_you}}</div>
          </div>
        </div>
      </div>
      <div class="mannerInfo">
        <div class="mannerthumbs">
          <img src="{%static 'img/like.png' %}" width="20px" height="20px"/> : {{m.like}}
          <img src="{%static 'img/dislike.png' %}" width="20px" height="20px"/> : {{m.dis_like}}
        </div>
        <div>{{m.date|date:'Y-m-d fa' }}</div>
        <div>작성자 : {{m.user.nickname}}</div>
      </div>
    </a>
    
  {% endfor %}
    

    
  </main>
  <script src="https://kit.fontawesome.com/740a1d0d1d.js" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}
