{% extends 'base.html' %}{% load static %}{% block extrahead %}
{% endblock %} {% block content %}
<link rel="stylesheet" href='{% static "css/mannersDetail.css" %}'>
<body>
  <div class="mannersDetail__box">
    <h3>제목 : {{mannersdetail.text}}</h3>
    <div class="mannersDetail__box--situation">
      <p>{{mannersdetail.hashtag_situation}}</p>
    </div>
    <div class="mannersDetail__box--tag">
      <div class="mannersDetail__box--tag--hashtag">
        <span>누가 : {{mannersdetail.hashtag_me}}</span>
        <span>누구에게 : {{mannersdetail.hashtag_you}}</span>
      </div>
      <div class="mannersDetail__box--tag--like">
        <button onclick="location.href = '{% url 'mannerLikeUp' mannersdetail.id %}'"><i class="fas fa-thumbs-up"></i> : {{mannersdetail.like}}</button>
        <button onclick="location.href = '{% url 'mannerDisLikeUp' mannersdetail.id %}'"><i class="fas fa-thumbs-down"></i> : {{mannersdetail.dis_like}}</button>
      </div>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/740a1d0d1d.js" crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}