{% extends 'base.html' %}{% load static %}{% block extrahead %}
{% endblock %} {% block content %}
<link rel="stylesheet" href='{% static "css/manner.css" %}'>
<body>
  <main class="main__screen">
    <span class="info">다양한 상황에 어떻게 예의를 지키며 대화 할 수 있는지의 틀을 제시해 주는 페이지 입니다.<br><br>회원가입 후 글을 쓰고 댓글을 달아보세요😆</span>
    <form method="get" class="search" action="{% url 'search' %}">
      <input type="search" class="search__box" placeholder="#해시태그 검색" name="kw">
      <!-- <input type="search" class="search__box" placeholder="#누구에게" name="kw2"> -->
      <button type="submit" class="find__btn">검색</button>
    </form>
    <a class="order" href="{% url 'mannerOrder' %}">좋아요 순으로 정렬하기</a>
  
    {% if user.is_authenticated %}
    <a href="{%url 'addManner' %}" class="writeText">글쓰기</a>
    {% else %}
    <a href="#loginmodal" class="writeText" rel="modal:open">글쓰기</a>
    {% endif %}
    {% for m in manner.all %}
    <a class="manner__box" href="{%url 'mannersDetail' m.id %}">
      <div class="manner__main">
        <div class="manner__text">
          제목 : {{m.text}}
        </div>
        <div class="manner__hashtag">
          <div class="manner__hashtag--detail">누가:{{m.hashtag_me}}</div>
          <div class="manner__hashtag--detail">누구에게:{{m.hashtag_you}}</div>
        </div>
      </div>
      <div class="mannerInfo">
        <div class="mannerthumbs">
          <i class="fas fa-thumbs-up"></i>: {{m.like}}
          <i class="fas fa-thumbs-down"></i>: {{m.dis_like}}
        </div>
        <div>{{m.date}}</div>
        <div class="manner__user">
          <div>{{m.user.sex}}, {{m.user.age}}대</div>
        </div>
      </div>
    </a>
  {% endfor %}
    

    
  </main>
  <script src="https://kit.fontawesome.com/740a1d0d1d.js" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}
