{% extends 'base.html' %}{% load static %}{% block extrahead %}
{% endblock %} {% block content %}
<link rel="stylesheet" href='{% static "css/mannersDetail.css" %}'>
<body>

  {% if request.user == mannersdetail.user %}
  <div class="retouch">
      <a href="#">수정</a>
      <a href="{% url 'mannerdelete' mannersdetail.id %}">삭제</a>
  </div>
  {% endif %}

  <div class="mannersDetail__box">
    <h3>제목 : {{mannersdetail.text}}</h3>
    <div class="mannersDetail__box--situation">
      <p>{{mannersdetail.hashtag_situation}}</p>
    </div>
    <div class="mannersDetail__box--tag">
      <div class="mannersDetail__box--tag--hashtag">
        <span>누가 : {{mannersdetail.hashtag_me}}</span>
        <span>누구에게 : {{mannersdetail.hashtag_you}}</span>
      </div>
      <div class="mannersDetail__box--tag--like">
        <button onclick="location.href = '{% url 'mannerLikeUp' mannersdetail.id %}'"><i class="fas fa-thumbs-up"></i> : {{mannersdetail.like}}</button>
        <button onclick="location.href = '{% url 'mannerDisLikeUp' mannersdetail.id %}'"><i class="fas fa-thumbs-down"></i> : {{mannersdetail.dis_like}}</button>
      </div>
    </div>
    <div class="date">
      {{mannersdetail.date|date:'Y-m-d fa' }}
    </div>
    <div class="user">
      나이, 성별 : {{mannersdetail.user.sex}}, {{mannersdetail.user.age}}대
    </div>
    <div>
      닉네임 : {{mannersdetail.user}}
    </div>
  </div>
  <script src="https://kit.fontawesome.com/740a1d0d1d.js" crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}