{% extends 'base.html' %}{% load static %}{% block extrahead %}
{% endblock %} {% block content %}
<link rel="stylesheet" href='{% static "css/manner.css" %}'>
<body>
  <main class="main__screen">

    <h4>'{{query}}'에 대한 검색결과</h4>
    <form method="get" class="search" action="{% url 'search' %}">
      <input type="search" class="search__box" placeholder="#해시태그 검색" name="kw">
      <!-- <input type="search" class="search__box" placeholder="#누구에게" name="kw2"> -->
      <button type="submit" class="find__btn">검색</button>
      <!-- <button class="writeText">글쓰기</button> -->
    </form>
    {% if user.is_authenticated %}
    <a href="{%url 'addManner' %}" class="writeText">글쓰기</a>
    {% else %}
    <a href="#loginmodal" class="writeText" rel="modal:open">글쓰기</a>
    {% endif %}
    {% for result in result.all %}
    <a class="manner__box" href="{%url 'mannersDetail' result.id %}">
      <div class="manner__main">
        <div class="manner__text">
          제목 : {{result.text}}
        </div>
        <div class="manner__hashtag">
          <div class="manner__hashtag--detail">{{result.hashtag_me}}</div>
          <div class="manner__hashtag--detail">{{result.hashtag_you}}</div>
        </div>
      </div>
      <div class="mannerInfo">
        <div class="mannerthumbs">
          <i class="fas fa-thumbs-up"></i>: {{result.like}}
          <i class="fas fa-thumbs-down"></i>: {{result.dis_like}}
        </div>
        <div>{{result.date|date:'Y-m-d fa' }}</div>
        <div class="manner__user">
          <div>{{result.user.sex}}, {{result.user.age}}대</div>
        </div>
      </div>
    </a>
    

    {% empty %}
    <h4>검색 결과가 없습니다.</h4>
    

    {% endfor %}

  </main>
  <script src="https://kit.fontawesome.com/740a1d0d1d.js" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}
