{% extends 'base.html' %}{% load static %}{% block extrahead %}

{% endblock %} {% block content %}

<head>
    <link rel="stylesheet" href='{% static "css/newproduct.css" %}'>
    <title>newproduct</title>
</head>

<body>
    {% if user.is_authenticated %}
        <a href="{%url 'addProduct' %}" class="plusButton"></a>
    {% else %}
        <a href="#loginmodal" class="plusButton"></a>
    {% endif %}
    <div class="container mt-2">
          <div class="row" style="padding-top: 70px;">
            {% for product in products.all %}
                <div class="col-md-3 col-sm-6">
                    <a href="{%url 'newproductDetail' product.id %}">
                        <div class="productCard productCard-block">
                            <h4 class="productCard-title text-right"><i class="material-icons">상품</i></h4>
                            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
                            <h5 class="productCard-title mt-3 mb-3">{{product.productName}}</h5>
                            <div style="text-align: right; line-height: 1rem;"> - 작성자 {{product.user}}</div>
                            <p class="productCard-text" style="line-height: 1.5rem;">{{product.productText}}</p> 
                            <div style = "text-align: right; margin-top: 30px;">heart {{product.like}}</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            
          </div>
          
        </div>
        
</body>

{% endblock %}