{% extends 'base.html' %}{% load static %}{% block extrahead %}

{% block content %}

{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body  style="margin-top: 70px;">
    <div>
        <div style = "text-align: right; margin-right: 100px;">
        <span style="font-size:2.5em; color:black">
            <a href = "{%url 'newtermAdd' %}">+</a>
        </span>
        </div>
    </div>
</body>
</html>

{% endblock %}