{% extends 'base.html' %}{% load static %}{% block extrahead %}

{% block content %}

{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <title>Document</title>

</head>
<body  style="margin-top: 80px;">
    <div>
        <div>
        <span style="font-size:1.0em; color:black">
            <h1>다음 신조어를 맞추어 보세요</h1>
            <br>
            <h2>{{term.question}}</h2>
            <br>
            <a href="{%url 'newterms' %}">
                <div style = "width:300px; height:120px; background: #fc7d7d; margin: 20px; color: #000000; padding: 20px 20px 20px 20px;">
                    <span>{{term.answer}}</span>
                </div>
            </a>
            <br>
            <a href="{%url 'newterms' %}">
                <div style = "width:300px; height:120px; background: #6d9bff; margin: 20px; color: #000000; padding: 20px 20px 20px 20px;">
                    <span>{{term.non_answer}}</span>
                </div>
            </a>
        </span>
        </div>
    </div>
</body>
</html>

{% endblock %}