{% extends 'base.html' %}{% load static %}{% block extrahead %}
{% endblock %} {% block content %}

<head>
    <link rel="stylesheet" href='{% static "css/newterm.css" %}'>
    <title></title>
</head>

<body>
    <br>
    <div style = "font-family: 'Jua', sans-serif; font-size: 70px; font-weight: lighter; margin-top:100px; text-align: center;">
        <h1>신조어를 맞춰보자!</h1>
        <div class="button">
            <div class="qube">
                <a href="{%url 'newtermQuiz' 1 %}">
                    <div class="front">click to be young !</div>
                    <div class="back">mouse over me !</div>
                </a>
            </div>
        </div>
    </div>
 </body>
 
 
 
 
</html>

{% endblock %}